:root {
  --primary: #0e34a0;
  --secondary: #dfdfdf;
  --tertiary: #343434;
  --fire: #b31f02;
  --fireAccent: #ffff00;
}

/* COLOR UTILITIES */

.colorPrimary {
  color: var(--primary)
}

.colorSecondary {
  color: var(--secondary)
}

.colorTertiary {
  color: var(--tertiary)
}

.bgColorPrimary {
  background-color: var(--primary)
}

.bgColorSecondary {
  background-color: var(--secondary)
}

.bgColorTertiary {
  background-color: var(--tertiary)
}

/* SELECTORS */

.buttonAttack {
  color: white;
  background-color: var(--fire);
}

.buttonAttack:hover {
  background-color: var(--fire);
  color: var(--fireAccent);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  padding: .5rem;
}

button {
  font-size: 1.3rem;
  padding: .5rem;
  margin: .5rem;
}

.healButton {
  background-color: var(--tertiary);
  color: var(--secondary)
}

.healButton:hover {
  background-color: var(--tertiary);
  color: lightgreen;
}

body {
  background: url(https://cdna.artstation.com/p/assets/images/images/050/642/478/original/filthy-drawings-arena-exported.gif?1655321798) no-repeat center center fixed;
  background-size: cover;
}

.restartButton {
  background-color: var(--primary);
  color: var(--secondary);
}

.restartButton:hover {
  background-color: firebrick;
  color: var(--secondary);
}